<a href="https://colab.research.google.com/github/bellatchen/Assignments/blob/main/Abalone_PreProcessing_Retake_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Bella Chen 
5/17/2022

In [19]:
#imports
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.compose import make_column_selector, make_column_transformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

In [20]:
#mounting data
abalone = "/content/drive/MyDrive/Coding Dojo/Data Sets/abalone.data"
abalone_df_og = pd.read_csv(abalone)
abalone_df_og

,Sex,Length,Diameter,Height,Whole Weight,Shucked Weight,Viscera Weight,Shell Weight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550,7
...,...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490,11
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605,10
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080,9
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960,10
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950,12

In [21]:
#double check for missing data
abalone_df_og.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4177 entries, 0 to 4176
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sex             4177 non-null   object
 1   Length          4177 non-null   float64
 2   Diameter        4177 non-null   float64
 3   Height          4177 non-null   float64
 4   Whole Weight    4177 non-null   float64
 5   Shucked Weight  4177 non-null   float64
 6   Viscera Weight  4177 non-null   float64
 7   Shell Weight    4177 non-null   float64
 8   Rings           4177 non-null   int64
dtypes: float64(7), int64(1), object(1)
memory usage: 293.8+ KB

In [22]:
#double check for duplicates
abalone_df_og.duplicated().sum()

0

In [23]:
# 1) Separate your data into the features matrix (X) and target vector (y).
y = abalone_df_og["Rings"]
X = abalone_df_og.drop(columns = "Rings")

X

,Sex,Length,Diameter,Height,Whole Weight,Shucked Weight,Viscera Weight,Shell Weight
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.1500
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.0700
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.2100
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.1550
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.0550
...,...,...,...,...,...,...,...,...
4172,F,0.565,0.450,0.165,0.8870,0.3700,0.2390,0.2490
4173,M,0.590,0.440,0.135,0.9660,0.4390,0.2145,0.2605
4174,M,0.600,0.475,0.205,1.1760,0.5255,0.2875,0.3080
4175,F,0.625,0.485,0.150,1.0945,0.5310,0.2610,0.2960
4176,M,0.710,0.555,0.195,1.9485,0.9455,0.3765,0.4950

In [24]:
# 2) Train/test split the data. Please use the random number 42 for consistency.
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state = 42)
len(X_train)

3132

# 3) Use column transformers to transform the appropriate columns in the appropriate ways.
a) Select the categorical columns and the numerical columns 

Nominal - 

    a) sex

Numeric:

    a) Length
    b) Diameter
    c) Height
    d) Whole Weight
    e) Shucked Weight
    f) Viscera Weight
    g) Shell Weight

In [25]:
# b) Use a OneHotEncoder to encode the categorical columns

# c) Use a StandardScaler to scale the numeric columns

# d) Use a ColumnTransformer to match the transformation to the type of column

# e) Transform the data and display the resulting Numpy array.

In [26]:
#instantiate Categorical and Numerical Selectors
cat_selector = make_column_selector(dtype_include="object")
num_selector = make_column_selector(dtype_include="number")
ohe_encoder = OneHotEncoder(handle_unknown = "ignore")
scaler = StandardScaler()

#tuples
num_tuple = (scaler, num_selector)
cat_tuple = (ohe_encoder, cat_selector)

#instantiate column transformer
col_transformer = make_column_transformer(num_tuple, cat_tuple, remainder = "passthrough")

col_transformer.fit(X_train)

X_train_processed = col_transformer.transform(X_train)
X_test_processed = col_transformer.transform(X_test)

X_train_processed

array([[ 0.74929076,  0.46422584, -0.11886923, ...,  1.        ,
         0.        ,  0.        ],
       [-0.09025371, -0.14465442, -0.0016468 , ...,  1.        ,
         0.        ,  0.        ],
       [ 1.12708577,  1.22532616,  0.81891021, ...,  0.        ,
         0.        ,  1.        ],
       ...,
       [-0.13223093, -0.14465442, -0.35331409, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.41347297,  0.56570588, -0.47053652, ...,  0.        ,
         0.        ,  1.        ],
       [ 0.58138187,  0.66718592,  0.46724292, ...,  1.        ,
         0.        ,  0.        ]])